.loader-wrapper {
  position: fixed;
  z-index: 100;
  background: rgba(214, 56, 56, 0.8);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.loader-wrapper-dark {
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

