%tick{
    clip-path: polygon(45% 64%, 94% 0%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
}

.is-order{
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 63%, #F9F9F9 63%, #F9F9F9 100%);
}

.order{
    &-header{
        height: 90px;
        background: #FFFFFF;
        box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.07);

        &__body{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .phone{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 120%;
            color: #26272D;
            text-decoration: none;
        }
    }

    &-page{
        &__body{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;


        }

        &-main{
            padding-top: 49px;
            width: calc(100% - 460px - 237px);
            flex-grow: 2;
        }
    }

    &-summary{
        padding: 10px 0 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;

        &__outer{
            width: 460px;
            margin-left: 237px;
            padding-top: 81px;
        }

        &__title{
            font-family: Merriweather;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 250%;
            color: #171717;
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: 1px solid #ECECEC;

            span:last-child{
                color:#D63838;
            }
        }

        &__list{
            list-style: none;
            padding: 0;
            width: 100%;
        }

        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid #ECECEC;

            &-title{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 111%;
                color: #141622;
            }

            &-value{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 111%;
                text-align: right;
                color: #141622;
            }
        }

        &__sum{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 33px;
            padding-bottom: 41px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 56%;
            color: #26272D;

            span:last-child{
                font-weight: bold;
            }
        }

        &__btn{
            width: 100%;
        }


    }

    &-product-item{
        &__title{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: #26272D;
            flex-grow: 2;
            
        }

        &__count{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            color: #26272D;
            flex: 0 0 115px;
            text-align: center;
        }

        &__price{
            flex: 0 0 90px;   
            display: flex;
            flex-direction: column;
            align-items: flex-end;         
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 120%;
            color: #26272D;


            .price--old{
                position: relative;
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 150%;
                color: #989898;

                &::before{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    content:"";
                    width: 100%;
                    height: 1px;
                    background: #D63838;
                }
            }


        }
    }

    &-steps{
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        list-style: none;
        counter-reset: num;
    }

    &-step{
        width: 100%;
        padding-bottom: 60px;
        padding-left: 50px;
        border-bottom: 1px solid #ECECEC;
        position: relative;
        counter-increment: num;
        
        &:not(:first-child){
            margin-top: 60px;
        }

        &::before{
            content: counter(num);
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            border: 3px solid #D63838;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 14px;
            line-height: 29px;
            text-align: center;
            color: #26272D;
            position: absolute;
            top: -5px;
            left: 0;
        }

        &::after{
            content: "";
            display: block;
            position: absolute;
            top: 7px;
            left: 9px;
            width: 15px;
            height: 11px;
            @extend %tick;
            background: #fff;
            transition: all .3s;
            transform: scale(0);
        }

        &.success{
            &::before{
                background-color: #4BB155;
                border-color: #4BB155;
                font-size: 0;
            }

            &::after{
                transform: scale(1);
            }
        }
    }

    &-contacts{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &-contact{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &__info{
            flex: 50% 0 0;
        }

        &__title{
            font-family: Montserrat;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 121%;
            color: #989898;
            margin-bottom: 11px;
        }

        &__value{
            &--phone{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 120%;
                color: #26272D;
            }

            &--addr{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 120%;
                color: #26272D;
            }

            i{
                margin-right: 10px;
            }
        }
    }
}

.step-title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    color: #26272D;
    margin: 0;
    margin-bottom: 22px;

    &-block{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.field-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 20px;
    position: relative;

    label{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 125%;
        color: #26272D;
        margin-bottom: 9px;

        &.placeholder{
            // height:auto;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 125%;
            color: #989898;
            background-color: #fff;
            padding: 0px 3px;
            position: absolute;
            left: 32px;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s;

            &:hover{
                cursor: text;
            }
        }
    }

    sup{
        color: rgb(255, 0, 0);
    }

    input{
        width: 100%;
        height: 50px;
        background: #FFFFFF;
        border: 1.5px solid #DCDCDC;
        border-radius: 5px;
        padding: 14px 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #26272D;
        outline: none;
        transition: all .3s;

        &:hover{
            border: 1.5px solid #989898;
        }

        &:focus, &.not-empty{
            &+label.placeholder{
                top: 0;
                left: 24px;
                transform: translateY(-50%) scale(0.8);
            }
        }

        &.has-error{
            border: 1.5px solid rgba(214, 56, 56, 0.3);
        }


    }

    textarea{
        width: 100%;
        height: 150px;
        background: #FFFFFF;
        border: 1.5px solid #DCDCDC;
        border-radius: 5px;
        padding: 14px 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 125%;
        color: #26272D;
        outline: none;
        resize: none;
        transition: all .3s;

        &:hover{
            border: 1.5px solid #989898;
        }
    }

    .error-field{
        margin-top: 7px;
    }
}

.radio-tab{
    padding-top: 30px;

    label{
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 120%;
        color: #26272D;
        margin-bottom: 10px;
    }

    sup{
        color: rgb(255, 0, 0);
    }
}

.radio-group{

    input{
        display: none;

        &:checked+label{
            &::before{
                background-color: #D63838;
                border-color: #D63838;
            }

            &::after{
                transform: translateY(-50%) scale(1);
            }
        }
    }

    label{
        height: 100%;
        background: #FFFFFF;
        border: 1.5px solid #DCDCDC;
        border-radius: 5px;
        min-height: 100px;
        width: 100%;
        padding: 25px 25px 25px 80px;
        position: relative;
        transition: all .3s;

        &:hover{
            cursor: pointer;

            &::before{
                border: 2px solid #F06A6A;
            }
        }

        &::before{
            content: "";
            display: block;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            left: 30px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            border: 2px solid #CDCDCD;
            box-sizing: border-box;
            transition: all .3s;
        }

        &::after{
            content: "";
            background: #fff;
            width: 15px;
            height: 12px;
            position: absolute;
            @extend %tick;
            top: 50%;
            left: 40px;
            transform: translateY(-50%) scale(0);
            transition: all .3s;
        }

        span{
            display: block;

            &:first-child{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 125%;   
                color: #26272D;
                margin-bottom: 6px;
            }

            &:last-child{
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 125%;
                color: #989898;
            }
        }
    }   
}

.error-field{
    display: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 133%;
    color: #D63838;
}

.doorphone{
    margin-top: 40px;
    margin-bottom: 30px;

    input{
        display: none;

        &:checked+label{
            &::before{
                background: #D63838;
                border-color: #D63838;
            }

            &::after{
                transform: translateY(-50%) scale(1);
            }
        }
    }

    label{
        display: block;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 121%;
        color: #26272D;
        padding-left: 31px;
        position: relative;

        &::before{
            display: block;
            content: "";
            width: 20px;
            height: 20px;
            position: absolute;
            border: 1px solid #CDCDCD;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all .3s;
        }

        &::after{
            content: "";
            background: #fff;
            width: 9px;
            height: 7px;
            position: absolute;
            @extend %tick;
            top: 50%;
            left: 6px;
            transform: translateY(-50%) scale(0);
            transition: all .3s;
        }

    }
}

.radio-tab{
    display: none;

    &.checked{
        display: block;
    }
}

.backward-link{
    text-decoration: none;
    margin-left: 77px;
    margin-right: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 121%;
    color: #26272D;
    transition: all .3s;

    i{
        color:#D63838;
    }

    &:hover{
        text-decoration: none;
        color: inherit;
    }


    i{
        margin-right: 11px;
    }
}

#order-map{
    width: 100%;
    max-height: 400px;
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
}

@media (max-width:1500px){
    .is-order{
        background: linear-gradient(90deg, #fff 0%, #fff 59%, #F9F9F9 59%, #F9F9F9 100%);
    }

    .order{
        &-summary{
            padding: 10px 25px 30px;

            &__outer{
                width: 430px;
                margin-left: 60px;
            }
        }
    }

    .radio-group{
        label{
            padding: 25px 52px 25px 65px;

            &::before{
                left: 15px;
            }

            &::after{
                left: 25px;
            }

            img{
                right: 15px;
            }
        }
    }

    .backward-link{
        margin-left: 50px;
    }
}

@media (max-width:1199px){
    .is-order{
        background: none;
    }

    .order{
        &-page{
            &__body{
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
            }

            &-main{
                width: 100%;
            }
        }

        &-summary{
            &__outer{
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

@media (max-width:991px){
    .backward-link{
        margin: 0 auto;
        font-size: 0;

        i{
            font-size: 18px;
        }
    }

    .order{
        &-header{
            text-align: right;

            .logo{
                width: 170px;
                height: auto;
            }

            .phone{
                font-size: 15px;
            }

        }

        &-header__body,
        &-page__body{
            padding: 0px 20px;
        }

        &-step{
            padding-left: 0;
        }
    }

    .step-title-block{
        padding-left: 50px;
    }
}

@media (max-width:500px){
    .order-header{
        height:110px;

        &__body{
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }

        &__phone-block{
            text-align: center;
        }

        .backward-link{
            font-size: 14px;
            margin: 10px auto 15px;

            i{
                font-size: inherit;
                margin-right: 10px;
            }
        }

        
    }
}

@media (max-width:440px){
    .order-summary{
        padding: 10px 10px 25px;

        &__title, &__sum{
            font-size: 17px;
        }

        &__btn{
            padding: 17px 30px !important;
        }
    }

    .order-product-item{

        &__title{
            font-size: 13px;
        }

        &__count{
            font-size: 13px;
            flex: 0 0 70px;
        }

        &__price{
            font-size: 13px;
            flex: 0 0 75px;
        }
    }
}

